<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Enter Sensor Data</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sensor Data Form</ion-title>
    </ion-toolbar>
  </ion-header>

  <form (ngSubmit)="submitForm()" class="form-styling">

    <!-- Group Flex Inputs -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Flex Sensor Inputs</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-input type="number" [(ngModel)]="formValues.flex_1" name="flex_1" required placeholder="Flex 1"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="number" [(ngModel)]="formValues.flex_2" name="flex_2" required placeholder="Flex 2"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="number" [(ngModel)]="formValues.flex_3" name="flex_3" required placeholder="Flex 3"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="number" [(ngModel)]="formValues.flex_4" name="flex_4" required placeholder="Flex 4"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="number" [(ngModel)]="formValues.flex_5" name="flex_5" required placeholder="Flex 5"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <!-- Group Gyro Inputs -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Gyroscope Inputs</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-input type="number" [(ngModel)]="formValues.GYRx" name="GYRx" required placeholder="Gyroscope X (GYRx)"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="number" [(ngModel)]="formValues.GYRy" name="GYRy" required placeholder="Gyroscope Y (GYRy)"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="number" [(ngModel)]="formValues.GYRz" name="GYRz" required placeholder="Gyroscope Z (GYRz)"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <!-- Group Accelerometer Inputs -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Accelerometer Inputs</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-input type="number" [(ngModel)]="formValues.ACCx" name="ACCx" required placeholder="Accelerometer X (ACCx)"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="number" [(ngModel)]="formValues.ACCy" name="ACCy" required placeholder="Accelerometer Y (ACCy)"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="number" [(ngModel)]="formValues.ACCz" name="ACCz" required placeholder="Accelerometer Z (ACCz)"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <!-- Submit Button -->
    <ion-button expand="full" type="submit" color="primary">Submit Data</ion-button>

  </form>

  <!-- Display Prediction Result -->
  <ion-card *ngIf="predictionResult">
    <ion-card-header>
      <ion-card-title>Prediction Result</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-label>{{ predictionResult }}</ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>
