<ion-header mode="ios" translucent="true">
  <ion-toolbar>
    <ion-title>
      ASL Interpreter
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="asl-interpreter-content">
  <ion-grid>


    <ion-card class="control-card">
      <ion-card-header class="control-card-header">
        <ion-card-title>Interpreter Glove</ion-card-title>
        <ion-card-subtitle>{{ isConnected ? 'Connected' : 'Disconnected' }} <span [class.connected]="isConnected"
            [class.disconnected]="!isConnected" class="led-indicator"></span></ion-card-subtitle>
      </ion-card-header>
      <ion-row>
        <ion-col size="6" class="button-col">
          <ion-button expand="full" color="success" (click)="connectToDevice()" [disabled]="isConnected">
            Connect
          </ion-button>
        </ion-col>
        <ion-col size="6" class="button-col">
          <ion-button expand="full" color="danger" (click)="disconnectDevice()" [disabled]="!isConnected">
            Disconnect
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-card class="control-card">
      <ion-card-header class="control-card-header">
        <ion-card-title>Speech-to-Text Test</ion-card-title>

      </ion-card-header>
      <ion-row>

        <ion-col size="6" class="button-col">
          <ion-button id="start-left" class="animated-button start-button" (click)="startListening()">
            Start
          </ion-button>
        </ion-col>
        <ion-col size="6" class="button-col">
          <ion-button id="stop-right" class="animated-button stop-button" (click)="stopListening()">
            Stop
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card>






  </ion-grid>

  <ion-card class="gesture-card">
    <ion-card-header>
      <ion-card-title class="ion-text-center ion-text-bold">Gestures</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div id="gesture-container" class="gesture-container">
        <img [src]="getGestureImage(gesture)" alt="Gesture Image" class="gesture-image" />
      </div>
    </ion-card-content>
  </ion-card>

  <ion-row>
    <ion-col>
      <ion-card class="interpreted-text-card">
        <ion-card-header>
          <ion-card-title class="ion-text-center ion-text-bold">Interpreted Text</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div id="interpreted-text-container" class="interpreted-text-container">
            <span class="interpreted-text-result">{{ gesture }}</span>
          </div>
        </ion-card-content>
      </ion-card>

    </ion-col>


    <ion-col>
      <!-- Translated Text Card -->
      <ion-card class="interpreted-text-card">
        <ion-card-header>
          <ion-card-title class="ion-text-center ion-text-bold">Translated Text</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div id="interpreted-text-container" class="interpreted-text-container">
            <span class="interpreted-text-result">{{ translate }}</span>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-button class="speak-button" (click)="speak()">Play Sentence</ion-button>

  <!-- Recognized Text Card -->
  <ion-card class="interpreted-text-card">
    <ion-card-header>
      <ion-card-title class="ion-text-center ion-text-bold">Recognized Text from Speaker</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div id="interpreted-text-container" class="interpreted-text-container">
        <!-- Display the recognized text -->
        <span class="interpreted-text-result">{{ recognizedText }}</span>
      </div>
      <ion-card-subtitle>Sent to Glove Screen! <span class="led-indicator connected"></span></ion-card-subtitle>

      <!-- Button to send recognized text via BLE -->
      <ion-button expand="full" color="secondary" (click)="sendRecognizedText()">
        Send Text to Glove
      </ion-button>
    </ion-card-content>
  </ion-card>

  





  <ion-card class="interpreted-text-card">
    <ion-card-header>
      <ion-card-title class="ion-text-center ion-text-bold">Received Data</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Display raw received data, or a placeholder if no data has been received yet -->
      <p *ngIf="receivedText; else noData">{{ receivedText }}</p> <!-- Shows the raw received data -->
      <ng-template #noData>
        <p>No data received yet.</p>
      </ng-template>

      <!-- Loop through and display each parsed uint16_t value -->
      <ul *ngIf="parsedReceivedData.length > 0; else noParsedData">
        <li *ngFor="let item of parsedReceivedData">{{ item }}</li>
      </ul>
      <ng-template #noParsedData>
        <p>No parsed data available.</p>
      </ng-template>
    </ion-card-content>
  </ion-card>

  <ion-card class="control-card">
    <ion-card-header class="control-card-header">
      <ion-card-title>Received Data</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div *ngIf="parsedReceivedData.length > 0">
        <p *ngFor="let data of parsedReceivedData">{{ data }}</p>
      </div>
      <div *ngIf="parsedReceivedData.length === 0">
        <p>No data received</p>
      </div>
    </ion-card-content>
  </ion-card>
  












</ion-content>